@model HomeViewModel

<div>
    @if (Model.error != null)
    {
        <p class="error-msg">Movie was not found!</p>
    }
</div>
<div class="top-3-flex">
    <h1 id="top-3">Top 3 Rated Movies on CMDb</h1>
</div>
<div class="flex-container-home">

    @foreach (var movie in @Model.fullMovieList)
    {
        <section class="movie-featured">
            <h1>@movie.title</h1>
            <img src=@movie.poster alt="movie1" />
            <h3>CMDb Rating</h3>
            <p>Likes @movie.numberOfLikes</p>
            <p>Dislikes @movie.numberOfDislikes</p>

            @if (movie.ratings != null)
            {
                foreach (var rating in @movie.ratings)
                {
                    <h3>@rating.source</h3>
                    <p>@rating.value</p>
                }
            }
        </section>
    }
</div>




